@import "tailwindcss";

@font-face {
  font-family: Number;
  src: url(../../public/font/Vazirmatn-FD-Medium.6f2fbed0.woff2);
  src: url(../../public/font/Vazirmatn-FD-Regular.36566045.woff2);
  src: url(../../public/font/Vazirmatn-FD-SemiBold.38feaedd.woff2);
}
:root {
  --fontFamily: Number;
}
.bgg {
  background: linear-gradient(
    to bottom right,
    #e24257 0%,
    #e24257 50%,
    #EBEFF3 50%,
    #EBEFF3 100%
  );
}
