@import "tailwindcss";

@font-face {
  font-family: Number;
  src: url(../../public/font/Vazirmatn-Black.ttf);
  src: url(../../public/font/Vazirmatn-ExtraBold.ttf);
  src: url(../../public/font/Vazirmatn-Regular.ttf);
}
:root {
  --fontFamily: Number;
}

